.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 100%;
}

.footer-nav {
  height: 63px;
  background-color: #dc3545;
  /* position: absolute; */
  /* bottom: 0; */
  width: 100%;
  border-top: 8px solid black;
}
