.footer-container {
  display: flex;
  justify-content: center;
  bottom: 0;
  position: absolute;
  width: 100%;
}

.footer-nav {
  height: 65px;

  background-color: #dc3545;
  position: absolute;
  bottom: 0px;
  width: 100%;
  border-top: 8px solid black;
}
