.footer-container {
  height: 120px;
  background: -webkit-linear-gradient(
    top,
    #fff 46%,
    #000 46%,
    #000 55%,
    #dc3545 53%
  );
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 100%;
}
