* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  padding-bottom: 150px;
  min-height: 100vh;
}

.nav-container {
  background: -webkit-linear-gradient(
    top,
    #dc3545 46%,
    #000 46%,
    #000 55%,
    #fff 53%
  );
  display: flex;
  justify-content: center;
  height: 120px;
}
