#bg {
  position: absolute;
  height: 120px;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  background: -webkit-linear-gradient(
    top,
    #dc3545 46%,
    #000 46%,
    #000 55%,
    #fff 53%
  );
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.nav {
  background-color: transparent;
  position: relative;
  width: 100%;
  height: 120px;
}

.navPokedex {
  background-color: #dc3545;
  color: white;
  display: flex;
}

.pokeapi {
  height: auto;
  max-width: 250px;
  margin: 15px;
  width: auto;
}
