.pokemonCard {
  display: inline-block;
  height: auto;
  max-width: 220px;
  min-width: 220px;
  margin: 15px;
  border-radius: 15px;
  box-shadow: 0 0 12px;
  transition: transform 0.5s;
}

.pokemonCard:hover {
  transform: scale(1.1);
}

.imageShiny {
  width: 150px;
  position: absolute;
  float: left;
  transition: transform 0.4s;
  transition: opacity 0.5s;
  margin: 20px;
}

.imageShiny:hover {
  opacity: 0;
}

.imageNormal {
  width: 150px;
  height: auto;
  min-height: 150px;
  margin: 20px;
}

.nameCard {
  text-transform: capitalize;
  /* margin-left: 12px; */
  /* margin-top: 10px; */
  /* position: absolute; */
  /* color: white; */
  /* text-align: start; */
}

.numberCard {
  width: 200px;
  margin-top: 10px;
  position: absolute;
  text-align: end;
  color: white;
}

.titleCard {
  width: 100px;
  height: 100px;
  position: absolute;
}

.descriptionCard {
  text-transform: capitalize;
}

.typeContainer {
  margin: 1px 0;
  display: flex;
  justify-content: center;
}

.types {
  text-transform: capitalize;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
  margin-right: 5px;
  margin-left: 5px;
  color: white;
  font-size: 14px;
}
