.detail-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemonDetail {
  width: 100%;
  border-radius: 15px;
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 1);
  text-align: center;
  border: 10px solid;
}

.btn-back {
  padding: 8px 12px;
  border-radius: 50%;
  border: none;
  outline: 0;
  background-color: #dc3545;
  cursor: pointer;
  color: white;
}

.imageShinyD {
  width: 350px;
  position: absolute;
  float: left;
  transition: 0.4s;
  margin: 0;
}

.imageShinyD:hover {
  opacity: 0;
  transition: 0.4s;
}

.imageNormalD {
  width: 350px;
  margin-bottom: 5px;
}

.pokemonData h1 {
  text-transform: capitalize;
  color: black;
  margin: 5px;
}

.pokemonData {
  margin: 10px;
}

progress {
  margin: 5px;
}

.pokemonData h3 {
  margin: 25px;
}

.pokemonData p {
  margin: 10px;
}

.pokemonDType span {
  font-size: 18px;
  margin: 20px;
}

.pokemonDetail ul li {
  text-transform: capitalize;
  list-style: none;
  margin: 5px;
}

.typeContainer {
  margin: 1px 0;
  display: flex;
  justify-content: center;
}

.types {
  text-transform: capitalize;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
  margin-right: 5px;
  margin-left: 5px;
  color: white;
  font-size: 14px;
}
