#circle_1 {
  /* animation: spin 3s linear infinite; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-image: linear-gradient(
    to top,
    white 0%,
    white 50%,
    red 50%,
    red 100%
  );
  border: 8px solid black;
}

#line_pokeball {
  position: absolute;
  background-color: black;
  height: 15px;
  width: 115px;
}

#circle_2 {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  border: 8px solid black;
}

#circle_3 {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #dc3545;
  transition: opacity 0.7s;
  cursor: pointer;
}

#circle_3:hover {
  opacity: 0;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
