.pokemonCard {
  display: inline-block;
  height: auto;
  max-width: 220px;
  min-width: 220px;
  margin: 15px;
  border-radius: 15px;
  box-shadow: 0 0 12px;
  transition: transform 0.5s;
  border: 3px solid;
}

.pokemonCard:hover {
  transform: scale(1.1);
}

.imageShiny {
  width: 150px;
  position: absolute;
  float: left;
  transition: transform 0.4s;
  transition: opacity 0.5s;
  margin: 20px;
  cursor: pointer;
}

.imageShiny:hover {
  opacity: 0;
}

.imageNormal {
  width: 150px;
  height: auto;
  min-height: 150px;
  margin: 20px;
  cursor: pointer;
}

.nameCard {
  text-transform: capitalize;
}

.numberCard {
  width: 200px;
  margin-top: 10px;
  position: absolute;
  text-align: end;
  color: white;
}

.titleCard {
  width: 100px;
  height: 100px;
  position: absolute;
}

.typeContainer {
  margin: 1px 0;
  display: flex;
  justify-content: center;
}

.types {
  text-transform: capitalize;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
  margin-right: 5px;
  margin-left: 5px;
  color: white;
  font-size: 14px;
}

.name-modal {
  text-transform: capitalize;
  color: white;
}

.types-pokemon-colors {
  color: black;
}

.image-modal-container {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}

.imageShiny-modal {
  width: 50%;
  /* float: left; */
  transition: transform 0.4s;
  transition: opacity 0.5s;
}

.imageNormal-modal {
  width: 50%;
  height: auto;
  min-height: 150px;
}

.abilities {
  text-transform: capitalize;
  list-style: none;
  padding: 0;
}

.abilities-container h4 {
  margin: 15px;
}

.stats {
  margin-left: 20px;
}

.type-container-modal {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.types-modal {
  text-transform: capitalize;
  padding: 8px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 10px;
  margin-right: 10px;
  margin-left: 10px;
  color: white;
  font-size: 18px;
}

.other-stats {
  align-self: center;
}

.stats-container h4 {
  color: #198653;
}
