.pokedex {
  margin: 10px;
  text-align: center;
  align-items: center;
}

.pokedex input {
  text-transform: capitalize;
}

.pokedex p {
  margin: 10px;
}

button {
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 50px;
  background-color: #a9ddd6;
  transition: 0.3s;
  text-align: center;
  align-items: center;
}

button:hover {
  background-color: #2b59c3;
  transition: 0.3s;
}

.pokedex select {
  margin: 20px;
  text-transform: capitalize;
}

.pokedex h4 {
  text-transform: capitalize;
}
