body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemonDetail {
  width: 100vh;
  height: auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 1);
  text-align: center;
  border: 15px solid;
}

.imageShinyD {
  width: 400px;
  position: absolute;
  float: left;
  transition: 0.4s;
  margin: 0;
}

.imageShinyD:hover {
  opacity: 0;
  transition: 0.4s;
}

.imageNormalD {
  width: 400px;
  margin-bottom: 5px;
}

.pokemonData h1 {
  text-transform: capitalize;
  color: black;
  margin: 5px;
}

.pokemonData {
  margin: 10px;
}

progress {
  margin: 5px;
}

.pokemonData h3 {
  margin: 10px;
}

.pokemonData p {
  margin: 10px;
}

.pokemonDType span {
  font-size: 18px;
  margin: 20px;
}
