.pokemon {
  display: flex;
  width: 200px;
  margin: 20px;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: auto;
}

.search input {
  text-transform: capitalize;
  margin: 5px;
}

.search button {
  margin: 5px;
}

.pokedex p {
  margin: 10px;
}

.paginationPokedex button {
  margin: 5px;
}
