.pokemon {
  display: flex;
  width: 200px;
  margin: 20px;
}

.user-container {
  margin: 10px;
}

.user-pokedex {
  color: #dc3545;
  text-transform: uppercase;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: auto;
}

.search input {
  text-transform: capitalize;
  margin: 5px;
  max-width: 300px;
}

.search button {
  margin: 5px;
}

.select-container {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.select-pokedex {
  max-width: 300px;
}

.pokedex p {
  margin: 10px;
}

.paginationPokedex button {
  margin: 5px;
}
