/* body {
  background-image: linear-gradient(
    to right top,
    #dc3545,
    #dc3545,
    #dc3545,
    #dc3545,
    #dc3545
  );
} */

.container-user {
  width: 110%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.user-image {
  width: 80%;
  margin: auto;
}

.user-input {
  border-radius: 10px;
  outline: 0;
  border: none;
  height: 40px;
  padding: 5px;
  text-align: center;
  text-transform: capitalize;
  margin: 5px;
  width: 250px;
}

.user-btn {
  margin: 5px;
  border-radius: 10px;
  border: none;
  background-color: transparent;
  color: white;
}
