.container-user {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
}

.user-image {
  width: 100%;
  max-width: 400px;
  margin-left: 5px;
  margin-right: 5px;
}

.user-gif {
  width: 100%;
  max-width: 400px;
}

.title-trainer {
  color: black;
}

.user-input {
  border-radius: 10px;
  outline: 0;
  border: none;
  height: 40px;
  padding: 5px;
  text-align: center;
  text-transform: capitalize;
  margin: 5px;
  width: 250px;
}

.container-user input::placeholder {
  color: white;
}

.user-btn {
  padding: 10px;
  margin: 5px;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  color: white;
}
