/* body {
  background-image: linear-gradient(
    to right top,
    #dc3545,
    #dc3545,
    #dc3545,
    #dc3545,
    #dc3545
  );
} */

.container-user {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.nav-container {
  background: -webkit-linear-gradient(
    top,
    #dc3545 46%,
    #000 46%,
    #000 55%,
    #fff 53%
  );
}

.user-image {
  width: 100%;
  max-width: 250px;
}

.user-image2 {
  width: 100%;
  max-width: 250px;
  height: 250px;
}

.title-trainer {
  color: black;
}

.user-input {
  border-radius: 10px;
  outline: 0;
  border: none;
  height: 40px;
  padding: 5px;
  text-align: center;
  text-transform: capitalize;
  margin: 5px;
  width: 250px;
}

.container-user input::placeholder {
  color: white;
}

.user-btn {
  padding: 10px;
  margin: 5px;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  color: white;
}

.footer-container {
  height: 50px;
  background: -webkit-linear-gradient(bottom, #000 25%, #dc3545 25%);
  margin-top: 15px;
}
